<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="7; url=https://scrabble-scorepad.herokuapp.com/">
    <title>Scrabble ScorePAD</title>
    <style>
        body {
            font-family: Arial;
            background: url('https://upload.wikimedia.org/wikipedia/commons/5/5d/Scrabble_game_in_progress.jpg');
        }

        h1,
        h2,
        p {
            color: #FFF;
        }
    </style>
</head>

<body>
    <h1>404 Error</h1>
    <h2>Page not found</h2>
    <p>Sorry, but this page does not exist. <a href="https://scrabble-scorepad.herokuapp.com/">CLICK HERE</a> to return
        to main page or wait a few seconds to be redirected.</p>
</body>

</html>